<h1>Book detail</h1>
<table>
  <thead>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </thead>
  <tbody>
    <tr>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>